<%= render "shared/nav" %>

<h1>Listings</h1>

<ul>
  <% @listings.each_with_index do |listing, index| %>
    <li>
      <%= listing.name %> 

      <p><%= link_to "Show Listing", listing_path(listing.id) %>
        

       <%if !current_provider.nil? && (listing.provider == current_provider) %> 
        <%= link_to "-Edit Listing Name", edit_listing_path(listing.id) %>

        <% end %>

        <% if user_signed_in? && current_user.admin? %>  
        <%= link_to 'Destroy', listing_path(listing.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
      
    </li>
  <% end %>  
</ul>


<div class="card-group">
<% @listings.each_with_index do |listing, index| %>
  <div class="card">
    <img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= Listing.find(listing.id).provider.city %> <%= Listing.find(listing.id).provider.state %></p>
      <p class="card-text">(<%= Cuisine.find(Listing.find(listing.id).provider.cuisine_id).cuisine_type %>)</p>
      <p class="card-text"><small class="text-muted">* 3.8 (50+)</small></p>
    </div>
  </div>
<% end %>