<h1>Listings</h1>

<ul>
  <% @listings.each_with_index do |listing, index| %>
    <li>
      <%= listing.name %> 
      <p><%= link_to "show", listing_path(listing.id) %>
        
        <% if provider_signed_in? %>  
        <%= link_to "Edit", edit_listing_path(listing.id) %>
        <%= link_to 'Destroy', listing_path(listing.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>
    </li>
  <% end %>  
</ul>

<%= link_to "Home", root_path %>