<%= render "shared/nav" %>

<h1>Listings</h1>

<div class="container">
<div class="row">
<% @listings.each_with_index do |listing, index| %>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
  <%= link_to listing_path(listing.id) do %>
    <img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Image">
    <div class="card-body">
      <h4 class="card-title">
        <%= listing.name %>
      </h4>
      <h5><%= sprintf("$%2.2f", Listing.find(listing.id).provider.cost_per_head) %></h5>
      <p class="card-text"><%= Listing.find(listing.id).provider.city %> <%= Listing.find(listing.id).provider.state %> (<%= Cuisine.find(Listing.find(listing.id).provider.cuisine_id).cuisine_type %>)</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      <small class="text-muted">
      <p><%= link_to "Show Listing", listing_path(listing.id) %>
        

       <%if !current_provider.nil? && (listing.provider == current_provider) %> 
        <%= link_to "-Edit Listing Name", edit_listing_path(listing.id) %>

        <% end %>

        <% if user_signed_in? && current_user.admin? %>  
        <%= link_to 'Destroy', listing_path(listing.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
      </small>
    </div>
  </div>
  <% end %>
</div>
<% end %>

</div>
<!-- /.row -->

</div>
<!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->