<%= render "shared/nav" %>

<h2><%= @listing.name %></h2>

<p>Contact: <%= @provider.name %></p>
<p>email: <%= @provider.email %></p>
<p>Minimum Persons: <%= @provider.minimum_persons %></p>
<p>Cost Per head: $<%= @provider.cost_per_head %></p>
<p>Provider id: <%= @provider.id %></p>
<p>Listing id: <%= @provider.listing_id %></p>


<%= link_to '<< Back', listings_path %>

<% if user_signed_in? %> 
<p><strong><%= link_to "Create a Booking", new_booking_path(:listing_info => { :provider_id => @provider }) %></strong></p>
<% end %>


<%if !current_provider.nil? && (@listing.provider == current_provider) %> 
<%= link_to "-Edit Listing", edit_listing_path(@listing.id) %>
<% end %>

<% if user_signed_in? && current_user.admin? %>  
<%= link_to 'Edit Listing', edit_listing_path(@listing) %> 
<%= link_to 'Destroy', listings_path(@listing.id),
method: :delete,
data: { confirm: 'Are you sure?' } %>
<% end %>


<% if @listing.reviews.any? %>
  <h2>User Reviews</h2>
    <% @listing.reviews.each do |review| %>
    <p><strong>Username:</strong>
      <%= review.username %></p>
  

    <p><strong>Comment:</strong>
      <%= review.content %></p>

    <p><strong>Rating:</strong>
      <%= review.rating %></p>
    
    <p><strong>Id:</strong>
      <%= review.id %></p>
    
    <% if user_signed_in? %> 
    <p><%= link_to 'Edit Review', edit_listing_review_path(@listing, review) %></p>
    <% end %>
    
    <% if user_signed_in? && current_user.admin? %> 
    <p><%= link_to 'Destroy Review', listing_review_path(@listing, review),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>

  <% end %>
<% end %>



<% if user_signed_in? %> 
<h4>Add a REVIEW:</h4>
<%= form_for([@listing, @review]) do |form| %>

  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username, :value => @current_user.username, readonly: true %>
  </p>
  <p>
    <%= form.label :content, "Comment" %><br>
    <%= form.text_area :content %>
  </p>

<p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, max: 5 %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>
 


<div>
<%= link_to "-Back", :back %>
<%= link_to "- Listing Page", listings_path %>
<%= link_to "- Home Page", root_path %>
</div>


