<h2><%= @listing.name %></h2>

<h3>Name</h3>
<p><%= @listing.name %></p>

<p>Username: <%= @provider.username %></p>
<p>Minimum Persons: <%= @provider.minimum_persons %></p>
<p>Cost Per head: $<%= @provider.cost_per_head %></p>
<p>Provider id: <%= @provider.id %></p>
<p>Listing id: <%= @provider.listing_id %></p>


<p><strong>BOOK</strong></p>
<%= link_to "Booking", new_booking_path(:listing_info => { :provider_id => @provider }) %>




<%= link_to "Back", :back %>
<%= link_to "Listing", listings_path %>
  <% if @listing.provider == current_provider %>   
  <%= link_to "Edit", edit_listing_path(@listing.id) %>
  <%= link_to 'Destroy', listings_path(@listing.id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
  <% end %>

<p><%= link_to "Home", root_path %></p>