<%= render "shared/nav" %>

<div class="jumbotron" style="background-image: url(https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg); background-size: cover;">
<div class="row">
  <div class="col-sm-6">
    <div class="show-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= @listing.name %></h4>
          <p class="card-text"><%= @listing.provider.city %> <%= @listing.provider.state %>  •  <%= @listing.cuisine.cuisine_type %></p>
          <p class="card-text"><i class="fas fa-dollar-sign"></i> $<%= @information = Listing.find(@listing.id).provider.cost_per_head %> per person for <i class="fas fa-user-friends"></i> <%= Listing.find(@listing.id).provider.minimum_persons %>
          <% if @information == 1 %>
            person
          <% elsif @information <= 0%>
          --
          <% else %>
          people
          <% end %>
          minimum</p>

          <div class="show-description">
          <p class="card-text"><i>"A description of the caterer, the company and/or the food which they provide. The food is succulent and delicious, and is available for a reasonable price! etc."</i></p>
          </div>

          <div class="card-review-pane" data-score=<%= @average_review %></div>
          <p>&#9733; <%= @average_review %> (<%= @listing.reviews.count %>)</p>
          </div>
          <% if user_signed_in? %> 
            <%= link_to "Create a Booking", new_booking_path(:listing_info => { :provider_id => @provider }), class: "btn btn-primary" %>
          <% end %>

          <%if !current_provider.nil? && (@listing.provider == current_provider) %> 
            <%= link_to edit_listing_path(@listing.id), class:"btn btn-primary" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          <% end %>
          
          <% if user_signed_in? && current_user.admin? %>             
            <%= link_to edit_listing_path(@listing.id), class:"btn btn-primary" do %>
              <i class="fa fa-pencil"></i>
            <% end %> 

            <%= link_to listings_path(@listing.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %> 

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">




<div class="show-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Menu</h4>
          Picture of a menu
</div>
</div>
</div>










  </div>
  </div>
</div>

<!---

<h2><%= @listing.name %></h2>

<p>Contact: <%= @listing.provider.name %></p>
<p>email: <%= @listing.provider.email %></p>
<p>Minimum Persons: <%= @listing.provider.minimum_persons %></p>
<p>Cost Per head: $<%= @listing.provider.cost_per_head %></p>
<p>Provider id: <%= @listing.provider.id %></p>
<p>Listing id: <%= @listing.provider.listing_id %></p>

--->

<!--

<%= link_to '<< Back', listings_path %>

-->

<!-- <% if user_signed_in? %> 
<p><strong><%= link_to "Create a Booking", new_booking_path(:listing_info => { :provider_id => @provider }) %></strong></p>
<% end %> -->

<!--

<%if !current_provider.nil? && (@listing.provider == current_provider) %> 
  <%= link_to "-Edit Listing", edit_listing_path(@listing.id) %>
<% end %>

<% if user_signed_in? && current_user.admin? %>  
  <%= link_to 'Edit Listing', edit_listing_path(@listing) %> 
  <%= link_to 'Destroy', listings_path(@listing.id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
<% end %>

-->

<div class="review-card-container">
<h3 style="margin-top:0.5rem; margin-left:20px; margin-right:20px;">
  <%= @listing.provider.name %>
  <small class="text-muted">User Reviews</small>
</h3>

<% if @listing.reviews.any? %>
  <% @listing.reviews.each do |review| %>
<div class="individual-review-card"><div class="card">
<div class="card-header">
  <div class="row">
  <div class="col">
  <img src="https://lh5.ggpht.com/-gzN6P8kOQhU/AAAAAAAAAAI/AAAAAAAAAAA/QARfZCeK3lg/s40-c0x00000000-cc-rp-mo/photo.jpg"> &nbsp;
  <%= review.username %>
  </div>
  <div class="col" style="display: flex; justify-content: flex-end; align-items: center;">
  <% @count = review.rating %>
  <% @count.times do %>
    &#9733;</p>
  <% end %>

  </div>
  </div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= review.content %></p>




<% if user_signed_in? && (review.user_id == current_user.id) %> 
    <p><%= link_to 'Edit Review', edit_listing_review_path(@listing, review), class: "btn btn-primary" %>
    <% end %>
  
  <% if user_signed_in? && current_user.admin? %> 
    <%= link_to 'Destroy Review', listing_review_path(@listing, review),
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-primary" %>
    </p>
    <% end %>


</div>
</div>
</div>
<% end %>

  <% else %>
  <div class="individual-review-card"><p>No reviews for <%= @listing.name %></div>
</div>
<% end %>

<!--

<div class="UserReviewWrapper">
  <% if @listing.reviews.any? %>
    <h2>User Reviews</h2>

    <% @listing.reviews.each do |review| %>
    <div class="UserReview">
    
    <p><strong>Username:</strong>
      <%= review.username %></p>
  
    <p><strong>Comment:</strong>
      <%= review.content %></p>

    <p><strong>Rating:</strong>
      <%= review.rating %></p>
    
    <p><strong>Id:</strong>
      <%= review.id %></p>

      <% if user_signed_in? && (review.user_id == current_user.id) %> 
        <p><%= link_to 'Edit Review', edit_listing_review_path(@listing, review) %></p>
      <% end %>
    
      <% if user_signed_in? && current_user.admin? %> 
        <p><%= link_to 'Destroy Review', listing_review_path(@listing, review),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
-->

<% if user_signed_in? %> 
  <h3 style="margin-top:0.5rem; margin-left:20px; margin-right:20px;">Add a Review</h3>


  <%= render "shared/add_review" %>
<% end %>
<div>
  <%= link_to "-Back", :back %>
  <%= link_to "- Listing Page", listings_path %>
  <%= link_to "- Home Page", root_path %>
</div>

<script>
      $('.review-rating').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/'
      });
</script>