<%= render "shared/nav" %>

<div class="user-create-container">
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Create New Provider Account</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.text_field :username, autofocus: true, class:"form-control", placeholder: "Username", :disabled => false, :required => true %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email Address", :disabled => false, :required => true %>
        </div>
        <div class="form-group">
              <%= f.text_field :name, autofocus: true, class:"form-control", placeholder: "Comapany Name", :disabled => false, :required => true %>
        </div>
        <div class="form-group">
          <%= f.text_field :city, autofocus: true, class:"form-control", placeholder: "City/Suburb", :disabled => false, :required => true %>
        </div>
        <div class="form-group">
          <%= f.text_field :state, autofocus: true, class:"form-control", placeholder: "State", :disabled => false, :required => true %>
        </div>
        <div class="form-group">
          <%= f.text_field :postcode, autofocus: true, class:"form-control", placeholder: "Postcode", :disabled => false, :required => true %>
        </div>


        <div class="form-group">
          <%= f.text_field :minimum_persons, autofocus: true, class:"form-control", placeholder: "Minimum Persons", :disabled => false, :required => true %>
        </div>


                <div class="form-group">
          <%= f.text_field :cost_per_head, autofocus: true, class:"form-control", placeholder: "Cost per Head", :disabled => false, :required => true %>
        </div>


<div class="form-group">
  <%= f.select :cuisine_id, options_from_collection_for_select(@cuisine, 'id', 'cuisine_type'), class: "form-control" %>
</div>

<div class="form-group">
    <% @minimum_password_length %>

    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password",  class: "form-control", :disabled => false, :required => true %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "new-password",  class: "form-control", :disabled => false, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btnSubmit" %>
  </div>
<% end %> 
    </div>
      <div class="col-md-6 login-form-1" style="background: url(https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80); background-size: cover;">
      <img src="">

      </div>
  </div>

    <!-- <%= render "providers/shared/links" %> -->

<!--

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div>
    <%= f.label :name, "Company/Trading Name" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= f.label :city, "City" %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div>
    <%= f.label :state, "State" %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>

  <div>
    <%= f.label :postcode, "Postcode" %><br />
    <%= f.text_field :postcode %>
  </div>

  <div>
    <%= f.label :minimum_persons, "Minimum persons" %><br />
    <%= f.text_field :minimum_persons %>
  </div>

  <div>
    <%= f.label :cost_per_head, "Cost per head" %><br />
    <%= f.text_field :cost_per_head %>
  </div>

  <%= select_tag "cuisine_id", options_from_collection_for_select(@cuisine, 'id', 'cuisine_type') %>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

-->

<%= render "providers/shared/links" %> -->