<%= render "shared/nav" %>

<h1>Your Current Bookings</h1>


<% if user_signed_in? %>    
  <% if !@bookings.empty? %>
   
    <% @bookings.each_with_index do |booking, index| %>
      <div class="bookings-wrapper"> 
        <div class="booking-container">
        <div>
          <p>Date and time of Event:  </p>
        </div>
        <div>
          <p><%= booking.booking_daytime.strftime("%B %d, %Y, %I:%M %p") %></p>
        </div>
        </div>

        <div class="booking-container">
        <div>
          <p>Number of persons:  </p>
        </div>
        <div>
          <p><%= booking.persons %></p>
        </div>
        </div>

          <div class="booking-container">
            <div>
              <p>Event location:  </p>
            </div>
            <div>
              <p><%= booking.location %></p>
            </div>
        </div>

      <div class="booking-container">
        <div>
          <p>Caterer Details: </p>
        </div>
        <div>
        <% provider = booking.provider_id %>
        <% @provider = Provider.find(provider).listing_id %>
        <p><%= @listing = Listing.find(@provider).name %></p>
        </div>
</div>

<hr>


    <% end %>
      </ul>
    <% else %>
    <p>You have no Bookings</p>
  <% end %>
<% end %>



<% if provider_signed_in? %>   
  <p>Hi <%= current_provider.username %>. 
  
    <% if @array.empty?%>
    <p>You have no bookings;</p>
    <% else %>
    <p>Your bookings are below;</p>
    <ul>
      <% @bookings.each_with_index do |booking, index| %>
      
        <% if booking.provider_id == current_provider.id %>
        <li>
        - Your id: <%= booking.provider_id %>
        - Location: <%= booking.location %>
        - Persons: <%= booking.persons %>
        - User id: <%= booking.user_id %>
        - User name: <%= User.find(booking.user_id).firstname %>
        <%if booking.place %> 
        - <%= link_to "Map Location", place_path(booking.place.id)  %>
        <% end%>
        </li>
        <% end %>
      <% end %>
    </ul>
      
      
  <% end %>
<% end %>
