<%= render "shared/nav" %>

<h1>Your Current Bookings</h1>


<% if user_signed_in? %>    
  <% if !@bookings.empty? %>
   
    <% @bookings.each_with_index do |booking, index| %>
      <div class=""> 
      <ol>
        <div>
          <li>Date and time of Event:</li>
        </div>
        <div>
          <li><%= booking.booking_daytime %></li>
        </div>
        
        <div>
          <li>Number of persons:</li>
        </div>
        <div>
          <li><%= booking.persons %></li>
        </div>
        <div>
          <li>Event location::</li>
        </div>
        <div>
          <li><%= booking.location %></li>
        </div>
    <% end %>

    <% else %>
    <p>You have no Bookings</p>
  <% end %>
<% end %>



<% if provider_signed_in? %>   
  <p>Hi <%= current_provider.username %>. 
  
    <% if @array.empty?%>
    <p>You have no bookings;</p>
    <% else %>
    <p>Your bookings are below;</p>
    <ul>
      <% @bookings.each_with_index do |booking, index| %>
      
        <% if booking.provider_id == current_provider.id %>
        <li>
        - Your id: <%= booking.provider_id %>
        - Location: <%= booking.location %>
        - Persons: <%= booking.persons %>
        - User id: <%= booking.user_id %>
        - User name: <%= User.find(booking.user_id).firstname %>
        <%if booking.place %> 
        - <%= link_to "Map Location", place_path(booking.place.id)  %>
        <% end%>
        </li>
        <% end %>
      <% end %>
    </ul>
      
      
  <% end %>
<% end %>
