<%= render "shared/nav" %>

<h1>Your Current Bookings</h1>


<% if user_signed_in? %>    
  <% if !@bookings.empty? %>
   
    <% @bookings.each_with_index do |booking, index| %>
      <div class="bookings-wrapper"> 
        <div class="booking-container">
        <div>
          <p>Date and time of Event:  </p>
        </div>
        <div>
          <%= booking.booking_daytime.strftime("%B %d, %Y, %I:%M %p") %>
        </div>
        </div>

        <div class="booking-container">
        <div>
          <p>Number of persons:  </p>
        </div>
        <div>
          <%= booking.persons %>
        </div>
        </div>

          <div class="booking-container">
            <div>
              <p>Event location:  </p>
            </div>
            <div>
              <%= booking.location %>
            </div>
        </div>

      <div class="booking-container">
        <div>
          <p>Caterer Details: </p>
        </div>
        <div>
        <% provider = booking.provider_id %>
        <% @provider = Provider.find(provider).listing_id %>
        <%= @listing = Listing.find(@provider).name %>
        </div>
</div>

<hr>


    <% end %>
      </ul>
    <% else %>
    <p>You have no Bookings</p>
  <% end %>
<% end %>



<% if provider_signed_in? %>   
  <p>Hi <%= current_provider.username.capitalize %>. 
  
    <% if @array.empty?%>
    <p>You have no bookings;</p>
    <% else %>
    <p>Your bookings are below;</p>

      <% @bookings.each_with_index do |booking, index| %>
      
        <% if booking.provider_id == current_provider.id %>
        <div class="bookings-wrapper"> 
        <div class="booking-container">
          <div>
           <p>Your id:</p>
          </div>
          <div>
         <%= booking.provider_id %>
          </div>
        </div>
        <div class="booking-container">
         <div>
         <p>Event Location: </p>
         </div>
         <div>
        <%= booking.location %>
          </div>
        </div>
        <div class="booking-container">
         <div>
         <p>Number of Persons:</p>
         </div>

         <div>
         <%= booking.persons %>
          </div>
        </div>
        <div class="booking-container">
         <div>
         <p>User id:</p>
         </div>
         <div>
         <%= booking.user_id %>
          </div>
        </div>
        <div class="booking-container">
         <div>
         <p>User name:</p>
         </div>
         <div>
         <%= User.find(booking.user_id).firstname %>
         <%= User.find(booking.user_id).lastname %>
          </div>
        </div>

         <div class="booking-container">
        <%if booking.place %> 
        <%= link_to "Google Map - Location", place_path(booking.place.id)  %>
        <% end%>
      </div>
        <% end %>
      <% end %>  
  <% end %>
<% end %>
