<%= render "shared/nav" %>

<h1>Booking for <%= @booking.booking_daytime.strftime("%B %d, %Y") %></h1>
<h1>Time: <%= @booking.booking_daytime.strftime("%H:%M") %></h1>


<p>Provider ID: <%= Provider.find( @booking.provider_id ).name %></p>
<p>User ID: <%= User.find( @booking.user_id).firstname %> <%= User.find( @booking.user_id).lastname %></p>
<p>Persons: <%= @booking.persons %></p>
<p>Location: <%= @booking.location %></p>
<p>Booking day and time: <%= @booking.booking_daytime.strftime("%B %d, %Y, %H:%M")  %></p>
<p>Cost per head: <%= sprintf("$%2.2f", Provider.find( @booking.provider_id).cost_per_head ) %></p>
<p>Total cost: $<%= @amount %></p>
<%= @listing %>

<button>Pay for booking</button>
<%= render "shared/stripe_form", cost_per_head: Provider.find( @booking.provider_id).cost_per_head  %>


<%= link_to 'Cancel booking', booking_path(@booking.id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
