<%= render "shared/nav" %>

<h1>Booking for <%= @booking.booking_daytime %></h1>

<p>Provider ID: <%= Provider.find( @booking.provider_id ).name %></p>
<p>User ID: <%= User.find( @booking.user_id).firstname %> <%= User.find( @booking.user_id).lastname %></p>
<p>Persons: <%= @booking.persons %></p>
<p>Location: <%= @booking.location %></p>
<p>Booking day and time: <%= @booking.booking_daytime %></p>
<p>Cost per head: <%= Provider.find( @booking.provider_id).cost_per_head %></p>
<p>Total cost: $<%= @amount %></p>
<%= @listing %>

<button>Pay for booking</button>
<%= render "shared/stripe_form", cost_per_head: Provider.find( @booking.provider_id).cost_per_head  %>