<%= render "shared/nav" %>


<div class="user-create-container">
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Booking Summary</h3>
        <div class="form-group">
          <h5>Caterer Name</h5>
          <p><%= Provider.find( @booking.provider_id ).name %></p>
        </div>
        <div class="form-group">
          <h5>Location of event</h5>
          <p><%= @booking.location %></p>
        </div>
        <div class="form-group">
          <h5>Date of Event</h5>
          <p><%= @booking.booking_daytime.strftime("%B %d, %Y") %> </p>
        </div>
        <div class="form-group">
          <h5>Start Time</h5>
          <p><%= @booking.booking_daytime.strftime("%H:%M") %></p>
        </div>
      </div>
    </div>
  </div>




<!--
<div class="show_wrapper">
  <div class=" show_wrapper1">
    <div class="booking_summary text-center">
      <h1 class="heading--primary2">Booking Summary</h1>
      
    <div class="button-container1">
    <label class="button-show">Caterer Name</label>
    <label class="buttonshow4"><%= Provider.find( @booking.provider_id ).name %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Location of event</label>
    <label class="buttonshow4"><%= @booking.location %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Date of Event</label>
    <label class="buttonshow4"><%= @booking.booking_daytime.strftime("%B %d, %Y") %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Start Time</label>
    <label class="buttonshow4"><%= @booking.booking_daytime.strftime("%H:%M") %> </label>
    </div>



    <div class="button-container1">
    <label class="button-show">Number of Guests</label>
    <label class="buttonshow4"><%= @booking.persons %> </label>
    </div>
    
    <div class="button-container1">
    <label class="button-show">Cost Per head</label>
    <label class="buttonshow4"><%= sprintf("$%2.2f", Provider.find( @booking.provider_id).cost_per_head ) %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Total Cost</label>
    <label class="buttonshow4">$<%= @amount %></label>
    </div>
   -->
    <div class="button-container1">
    <%= render "shared/stripe_form"%>
    </div>
    <div>
    <span><%= link_to 'Cancel booking', booking_path(@booking.id),
  method: :delete,
  data: { confirm: 'Are you sure?' } %></span>
    </div>

</div>
