<%= render "shared/nav" %>
<div class="wrapper">

<div class="userprofile">
<h2>User Profile</h2>

<p>email: <%= @user.email %></p>
<p>Username: <%= @user.username %></p>
<p>First name: <%= @user.firstname %></p>
<p>Last name: <%= @user.lastname %></p>
<p>Date of Birth: <%= @user.dob.strftime("%B %d, %Y") %></p>
<p>Avatar</p>
<div class="avatar">

<% if @user.uploaded_image.attached? %>

<%= image_tag @user.uploaded_image %>
<% else %>
<%= image_tag 'no_avatar.jpeg' %>
<p>no avatar attached </p>
<% end %>
</div>

<p>Change your details through Modify Account</p>
<p><%= link_to "<< Back", :back %></p>



<% if user_signed_in? && current_user.admin? %>  
<p><%= link_to "Edit", edit_user_path(@user.id) %></p>

<p><%= link_to "Users List", users_path %></p>
<p><%= link_to 'Destroy', user_path(@user.id),method: :delete,
data: { confirm: 'Are you sure?' } %></p>
<% end %>
</div>
</div>