<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007bff">
  <a class="navbar-brand" href="#">Company Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to 'Listings', listings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to 'Bookings', bookings_path, class: "nav-link" %>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user %>
          <%= current_user.firstname %>
          <% elsif current_provider %>
          <%= current_provider.email %>
          <% else %>
          My Account
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <% if current_user %>
          <%= link_to 'Modify Account', edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>

        <% elsif current_provider %>
        <%= link_to 'Modify Account', edit_provider_registration_path, class: "dropdown-item" %>
          <%= link_to 'Logout', destroy_provider_session_path, method: :delete, class: "dropdown-item" %>

        <% else %>

          <%= link_to 'Log In User', new_user_session_path, class: "dropdown-item" %>
          <%= link_to 'Log In provider', new_provider_session_path, class: "dropdown-item" %>
          <%= link_to 'Sign Up User', new_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Sign Up Provider', new_provider_registration_path, class: "dropdown-item" %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
