<%= render "shared/nav" %>

<div class="jumbotron">
  <h1 class="display-4">Company Name</h1>
  <p class="lead">This is an explanation of our company or some other text to entice the user to sign up, etc.</p>
  <hr class="my-4">
  <p>This is additional text.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<h1>Three newest listings sorted by desc date</h1>

<% @listings = Listing.order("created_at desc").limit(3) %>

<div class="card-group">
<% @listings.each_with_index do |listing, index| %>
  <div class="card">
  <%= link_to listing_path(listing.id) do %>
    <img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= Listing.find(listing.id).provider.city %> <%= Listing.find(listing.id).provider.state %></p>
      <p class="card-text">(<%= Cuisine.find(Listing.find(listing.id).provider.cuisine_id).cuisine_type %>)</p>
      <p class="card-text"><small class="text-muted">* 3.8 (50+)</small></p>
    </div>
  </div>
  <% end %>
<% end %>