<%= render "shared/nav" %>

<div class="jumbotron">
  <h1 class="display-4">Company Name</h1>
  <p class="lead">This is an explanation of our company or some other text to entice the user to sign up, etc.</p>
  <hr class="my-4">
  <p>This is additional text.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div>

<% if user_signed_in? && current_user.admin? %>   
<h4>ADMIN USE ONLY</h4>
<ul>
  <li><%= link_to "Cuisine List", cuisines_path %></li>
  <li><%= link_to "Provider List", providers_path %></li>
  <li><%= link_to "User List", users_path %></li>
</ul>
</div>
<% end %>


<% if user_signed_in? %>         
<li><%= link_to "User Bookings", bookings_path %></li> 
<li><%= link_to "User Profile", user_path(current_user.id) %></li> 

<% elsif provider_signed_in? %>
<li><%= link_to "Provider Bookings", bookings_path %></li>
<% else %>

<% end %>