<%= render "shared/nav" %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Feest</h1>
  <p class="lead">Have an upcoming event that needs catering? Why not give Feest&copy; a try? With a great selection of caterers to choose from specialising in a wide variety of cuisines, Feest&copy; is sure to have a caterer to suit your tastes and your budget.</p>
  <hr class="my-4">
  <p>Interesting in becoming a Feest&copy; caterer?</p>
  <p class="lead">
    <%= link_to 'Click here', new_provider_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
</div>
</div>
<hr>
<h1>Newest Listings</h1>
<hr>

<% @listings = Listing.order("created_at desc").limit(3) %>


<div class="container">
  <div class="row">
    <% @listings.each_with_index do |listing, index| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="listing-card">
          <div class="card h-100">
            <%= link_to listing_path(listing.id) do %>
              <div class="card-img-wrap"><img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Image">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= listing.name %>
                  </h4>
                  
                  <p class="card-text"><%= listing.provider.city %> <%= listing.provider.state %> • <%= listing.cuisine.cuisine_type %></p>
                  <p class="card-text"><i class="fas fa-dollar-sign"></i> $<%= listing.provider.cost_per_head %> &nbsp; <i class="fas fa-user-friends"></i> <%= listing.provider.minimum_persons %>+</p>
                    
                    <div class="card-review-pane" data-score=<%= @average_review %></div>
                    <p>&#9733; <% @average_review = listing.reviews.average(:rating) %>
                      <% if @average_review.blank? %>
                        0.0
                      <% else %>
                        <%= @average_review.round(1) %>
                      <% end %>
                      (<%= listing.reviews.count %>)
                    </p>
                </div>
              </div>
            </div>
          </div>
    
    <% end %>
  </div>
  </div>
  
  <% end %>
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.col-lg-9 -->
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.container -->




<!--
  <div class="container">
  <div class="row">
    <% @listings.each_with_index do |listing, index| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <%= link_to listing_path(listing.id) do %>
            <div class="card-img-wrap"><img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Image">
              <div class="card-body">
                <h4 class="card-title">
                  <%= listing.name %>
                </h4>
                <h5>$24.99</h5>
                  <p class="card-text"><%= listing.provider.city %> <%= listing.provider.state %> • <%= listing.cuisine.cuisine_type %></p>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              <small class="text-muted">
              <p><%= link_to "Show Listing", listing_path(listing.id) %>        
                <%if !current_provider.nil? && (listing.provider == current_provider) %> 
                  <%= link_to "-Edit Listing Name", edit_listing_path(listing.id) %>

                  <% end %>

                  <% if user_signed_in? && current_user.admin? %>  
                  <%= link_to 'Destroy', listing_path(listing.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </p>
              </small>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
-->

<% if user_signed_in? %>         
<li><%= link_to "User Bookings", bookings_path %></li> 
<li><%= link_to "User Profile", user_path(current_user.id) %></li> 

<% elsif provider_signed_in? %>
<li><%= link_to "Provider Bookings", bookings_path %></li>
<% else %>
<% end %>