<%= render "shared/nav" %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Catering Combined</h1>
  <p class="lead">Many cuisines, one place. Have an upcoming event that needs catering? Why not give Catering Combined&copy; a try? With a great selection of caterers to choose from specialising in a wide variety of cuisines, Catering Combined&copy; is sure to have a caterer to suit your tastes and your budget.</p>
  <hr class="my-4">
  <p>Interesting in becoming a Catering Combined&copy; caterer?</p>
  <p class="lead">
    <%= link_to 'Click here', new_provider_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
</div>
</div>
<hr>
<h3 style="margin-top:0.5rem; margin-left:20px; margin-right:20px;">Newest Listings</h3>
<hr>

<% @listings = Listing.order("created_at desc").limit(3) %>


<div class="container">
  <div class="row">
    <% @listings.each_with_index do |listing, index| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="listing-card">
          <div class="card h-100">
            <%= link_to listing_path(listing.id) do %>
              <div class="card-img-wrap"><img class="card-img-top" src="https://www.thebetterindia.com/wp-content/uploads/2017/03/wedding-buffet-food.jpg" alt="Image">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= listing.name %>
                  </h4>
                  
                  <p class="card-text"><%= listing.provider.city %> <%= listing.provider.state %> • <%= listing.provider.cuisine.cuisine_type %></p>
                  <p class="card-text"><i class="fas fa-dollar-sign"></i> $<%= listing.provider.cost_per_head %> &nbsp; <i class="fas fa-user-friends"></i> <%= listing.provider.minimum_persons %>+</p>
                    
                    <div class="card-review-pane" data-score=<%= @average_review %></div>
                    <p>&#9733; <% @average_review = listing.reviews.average(:rating) %>
                      <% if @average_review.blank? %>
                        0.0
                      <% else %>
                        <%= @average_review.round(1) %>
                      <% end %>
                      (<%= listing.reviews.count %>)
                    </p>
                </div>
              </div>
            </div>
          </div>
    
    <% end %>
  </div>
  </div>
  
  <% end %>
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.col-lg-9 -->
  
  </div>
  <!-- /.row -->
  
  </div>
  <!-- /.container -->

<% if user_signed_in? %>         
<li><%= link_to "User Bookings", bookings_path %></li> 
<li><%= link_to "User Profile", user_path(current_user.id) %></li> 

<% elsif provider_signed_in? %>
<li><%= link_to "Provider Bookings", bookings_path %></li>
<% else %>
<% end %>

<%= render "shared/footer" %>