<%= render "shared/nav" %>
<div>
<h2>Thanks for making a booking with COMPANY NAME.</h2>
<p>Dear <%= @user.firstname %>, Here is a summary of your booking</p>
</div>

<div class="show_wrapper">
  <div class=" show_wrapper1">
    <div class="booking_summary text-center">
      <h1 class="heading--primary2">Booking Confirmation</h1>
      
    <div class="button-container1">
    <label class="button-show">Your booking number is:</label>
    <label class="buttonshow4"><%= @booking.id %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Date booking made:</label>
    <label class="buttonshow4"><%= @booking.created_at.strftime("%B %d %Y, %H:%M") %></label>
    </div>
    <div class="button-container1">
    <label class="button-show"> Provider Name:  </label>
    <label class="buttonshow4"><%= @provider.name %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show"> Location of event: </label>
    <label class="buttonshow4"><%= @booking.location %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Date of event:</label>
    <label class="buttonshow4"><%= @booking.booking_daytime.strftime("%B %d %Y") %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Number of persons:</label>
    <label class="buttonshow4"><%= @booking.persons %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Cost per person:</label>
    <label class="buttonshow4">$<%= @cost_per_head %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Total cost:</label>
    <label class="buttonshow4">$<%= @amount %></label>
    </div>

<div class="button-container1">
    <label class="button-show">Amount paid</label>
    <label class="buttonshow4">$<strong><%= @amount %></strong> inc GST.</label>
    </div>


  
</div>


<%= link_to "Home", root_path %>