<%= render "shared/nav" %>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Booking Created</h3>
      <p>Thank you, <%= @user.firstname %>! Your booking with <%= @provider.name %> has been confirmed successfully. Please confirm the details below.
        <div class="form-group">
          <h5>Booking Confirmation Date</h5>
          <p><%= @booking.created_at.strftime("%B %d %Y, %H:%M") %></p>
        </div>
        <div class="form-group">
          <h5>Booking Confirmation Number</h5>
          <p><%= @booking.id %></p>
        </div>

        <div class="form-group">
          <h5>Caterer</h5>
          <p><%= @provider.name %></p>
        </div>

        <div class="form-group">
          <h5>Event Date</h5>
          <p><%= @booking.booking_daytime.strftime("%B %d %Y") %></p>
        </div>

        <div class="form-group">
          <h5>Event Location</h5>
          <p><%= @booking.location %></p>
        </div>

        <div class="form-group">
          <h5>Number of Guests</h5>
          <p><%= @booking.persons %></p>
        </div>
    
        <div class="form-group">
          <h5>Cost Per head</h5>
          <p><%= @cost_per_head %></p>
        </div>

        <div class="form-group">
          <h5>Total Cost</h5>
          <p>$<%= @amount %></p>
        </div>

                <div class="form-group">
          <h5>Amount Paid</h5>
          <p>$<%= @amount %> inc. GST </p>
        </div>
      </div>
    </div>
  </div>

<!-- <div>
<h2>Thanks for making a booking with COMPANY NAME.</h2>
<p>Dear <%= @user.firstname %>, Here is a summary of your booking</p>
</div>

<div class="show_wrapper">
  <div class=" show_wrapper1">
    <div class="booking_summary text-center">
      <h1 class="heading--primary2">Booking Confirmation</h1>
      
    <div class="button-container1">
    <label class="button-show">Your booking number is:</label>
    <label class="buttonshow4"><%= @booking.id %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Date booking made:</label>
    <label class="buttonshow4"><%= @booking.created_at.strftime("%B %d %Y, %H:%M") %></label>
    </div>
    <div class="button-container1">
    <label class="button-show"> Provider Name:  </label>
    <label class="buttonshow4"><%= @provider.name %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show"> Location of event: </label>
    <label class="buttonshow4"><%= @booking.location %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Date of event:</label>
    <label class="buttonshow4"><%= @booking.booking_daytime.strftime("%B %d %Y") %> </label>
    </div>
    <div class="button-container1">
    <label class="button-show">Number of persons:</label>
    <label class="buttonshow4"><%= @booking.persons %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Cost per person:</label>
    <label class="buttonshow4">$<%= @cost_per_head %></label>
    </div>
    <div class="button-container1">
    <label class="button-show">Total cost:</label>
    <label class="buttonshow4">$<%= @amount %></label>
    </div>

<div class="button-container1">
    <label class="button-show">Amount paid</label>
    <label class="buttonshow4">$<strong><%= @amount %></strong> inc GST.</label>
    </div>


  
</div> -->


<%= link_to "Home", root_path %>