<%= render "shared/nav" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event Location:</strong>
  <%= @booking.location %>
</p>



<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@place.latitude},#{@place.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
</p>


<%= link_to 'Back', :back %>
