<%= render "shared/nav" %>

<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->


<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>Modify User Account</h1></div>
      <div class="col-sm-2" style="height: 100px;"></div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="text-center">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;">
          <%= f.file_field :uploaded_image, class: "text-center center-block file-upload"%>

        </div></hr><br>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :username, "<h4>Username</h4>".html_safe %><br />
              <%= f.text_field :username, autofocus: true, class:"form-control", :disabled => false %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :firstname, "<h4>First name</h4>".html_safe %><br>
              <%= f.text_field :firstname, autofocus: true, class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :lastname, "<h4>Last name</h4>".html_safe %><br>
              <%= f.text_field :lastname, autofocus: true, class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :dob, "<h4>Date of birth</h4>".html_safe %><br>
              <%= f.date_select :dob, :start_year => Date.current.year - 15, :end_year => 1920, class:"form-control" %>
            </div>
          </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :email, "<h4>Email</h4>".html_safe %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :password, "<h4>Password <i>(leave blank if you don't want to change it)</i></h4>".html_safe %></i><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                
              <% if @minimum_password_length %><br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>

            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :password_confirmation, "<h4>Confirm New Password</h4>".html_safe %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <%= f.label :current_password, "<h4>Password <i>(we need your current password to confirm your changes)</i></h4>".html_safe %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12"><br>
              <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
              <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
            </div>
          </div>
        

<hr>

</div><!--/tab-pane-->
<div class="tab-pane" id="messages">

<h2></h2>
<% end %>